/* Typography */
body, h1, h2,h3, h4, h5 .button, table, label {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: Helvetica, Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

a {
  color:#005EA5;
}

p, dl, ul, label {
  font-size:1.2rem;
}

.button {
  background:#2372B5;
  border-bottom:5px solid #255c8a;
  font-family: Helvetica, Arial;
  font-weight:bold;
  font-size: 1.35rem;
  padding-bottom: 0.5rem;
  padding-top: 0.75rem;
}

.button:hover, .button:focus {
  background-color:#2372B5;
}

/* header */
.header {
  margin-bottom: 10px;
}

p.total {
  margin-bottom: 0px;
}

.official-text  p {
  font-size: 24px;
  line-height: 30px;
  padding-right: 10px;
}

.official-text h1 {
  font-size: 34px;
  margin-bottom: 20px;

}

.copyright-details {
  margin-top: 5px;
}

.copyright-details p {
  font-size: 1.0rem;
}

.meta-entries {
  margin-top: 50px;
}

input.postfix {
  position: absolute;
  z-index: 4;
  right: -20px;
  top: 0;
  width: 35px;
  height: 37px;
  border: 1px solid #2372b5;
  border-width: 0 0 0 1px;
  border-left-color: #222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #2372b5;
  background-image: url(/assets/images/search-button-686bc7b2e0a29a7e9fad62a271bc8662.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}


#header-wrapper {
  width: 100%;
  background: #2372b5 !important;
  padding-top: 20px;
  margin-bottom: 20px;
}

.header,
.top-bar {
  background: inherit;
  font-family: Helvetica, Arial, sans-serif;
}

.top-bar #header_crest {
  height: 45px;
  margin-right: 7px;
}

.top-bar.home h1 {
  text-align:left;
}

.top-bar h1 {
  font-size: 1.35rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}


.top-bar a {
  text-decoration: none;
  color: #fff;

}

#phase-banner p {
  margin-bottom: 5px;
}

#phase-banner hr {
  margin-bottom: 35px;
}

.alpha-phase {
  background-color: #d53880;
  font-size: 1rem;
  padding: 0.5rem;
}

.alpha-description {
  vertical-align: baseline;
  font-size: 1rem;
  margin-left: 0.5rem;
}

/* footer */
.footer-wrapper {
  max-width: 100% !important;
  background: #dee0e2 !important;
  padding-top: 5px;
  margin-top: 100px;

}

.footer { 
  padding-top: 150px;
  padding-bottom: 50px;
  margin-top: 60px;
  vertical-align: baseline;
  color: #454a4c;
}

.footer a {
  color: #454a4c;
  text-decoration: underline;
}

.footer a.link--no-underline {
  text-decoration: none;
}

.footer a:hover {
  color: #0b0c0c;
}

.open-government-licence {
 display: inline-block;
 position: relative;
 padding-left: 53px;
}

.open-government-licence p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding-top: 0.1em;
}


.open-government-licence .logo a {
  display: block;
  width: 41px;
  height: 17px;
  overflow: hidden;
  text-indent: -999em;
  background: url(https://assets.digital.cabinet-office.gov.uk/static/images/open-government-licence-bb7be3c893eb5888731ff361bb6283ef.png) 0 0 no-repeat;
}

.open-government-licence .logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 41px;
  height: 100%;
}

.footer .copyright {
  display: inline-block;
  _margin-left: 5%;
  _margin-top: 40px;
}

.footer .copyright a {
  background-image: url(https://assets.digital.cabinet-office.gov.uk/static/images/govuk-crest-b077f42faf60948830e5d3347716d60b.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  text-align: right;
  text-decoration: none;
  padding: 115px 0 0 0;
}

/* intro */

.intro p {
  margin-top: 15px;
  font-size: 1.1rem;
}

.intro h1 {
  font-size: 1.3rem;
}

.subheader {
  text-transform: uppercase;
}

.total-entries {
  margin-bottom: 20px;
}

.total-entries p {
  margin-bottom: 5px;
}

.big-number {
  font-size: 24px;
  font-weight: bold;
}

.big-meta {
  font-size: 24px;
  font-weight: bold;
}

.homepage-field-labels {
  font-family: monospace;
}


.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 5px 0px 5px 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

span.field-label {
  margin-left: 10px;
  vertical-align: middle;

}

.nav h4 {
  font-size: 1.2rem;
}

h2 {
  border-top: solid 1px #ddd;
  padding-top: 4px;
}

/*.side-nav ul {
  padding-top: 15px;
}*/

.side-nav li {
  font-weight: 700;
  font-size: 1rem;
}

.visit-the-register {
  font-family: helvetica;
  border: none;
  border-radius: 0;
  border-width: 1px;
  margin-bottom: 1.25rem;
  margin-left: 0px;
}

/* entries in registers*/
.entry {
  background: #eceded;
  border: none;
  border-radius: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: monospace;
}

.entry dt {
  font-weight: normal;
  line-height: 1;
  border-top: dotted 1px #DDDDDD;
  padding-top: 1rem;
  font-size: 1rem;
}

.entry dt a:hover,
.entry dt a:focus {
  color: #007BA0;
}
.data-representations {
  font-weight: bold;
  font-size: 1.0rem;
}

.data-representations a {
  font-weight: normal;
  font-size: 1.0rem;
  padding-left: 5px;
}

.data-representations a.no-padding-left {
  padding-left: 0px;
}

.data-representations span {
  font-weight: normal;
}


h1.entry-header {
  font-size: 2.25rem;
}

#entry-table {
  width: 100%;
  font-family: monospace;
  background: #f9f9f9;
}

#entry-table tr {
  border: solid 1px #ddd;
}

#entry-table td,
#entry-table th {
  padding: 0.5rem;
  font-size: 0.875rem;
  color: #222;
  vertical-align: top;
}

#entry-table p {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

#entry-table h1 {
  font-size: inherit;
  font-family: inherit;
}


span.field-name {
  display: none
}

td.view {
  font-family: Helvetica, Arial;
  font-size: 14px !important;
  white-space: nowrap;
  text-align: right;
}

td.view > a:after {
  content: "❯";
  padding-left: 10px;
  vertical-align: middle;
}

.entry-source {
  margin-bottom: 5px;
}

dl {
  border-top: none;
}

dl dd {
  color: #333333;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
}

/* fields */
.entry-hash {
  word-wrap: break-word;
  margin-bottom: 30px;
}

.search {
  padding-bottom: 10px;
  visibility: hidden;
}

#search-input {
  margin-left: 5px;
  font-family:monospace;
  height: 1.2rem;
  border-radius: 0.3rem;
}

/* representations */
.representations {
  margin-bottom: 0.5rem;
}
.representation {
  text-transform: uppercase;
  font-size: 1rem;
}

/* meta */
.meta {
  width: 100%;
}
.meta a[rel=prev] {
  display: block;
  float: left;
  text-align: left;
}

.meta a[rel=next] {
  display: block;
  float: right;
  text-align: right;
}

.meta .pageno {
  padding-left: 10em;
}

/*.footer {
  margin-top: 30px;
  padding-top: 15px;
}

#ogl-logo {
  margin-top: 3px;
}

.open-government-licence {
  margin-top: 35px;
}

.open-government-licence p {
  font-size: 0.7rem;
  margin-left: -10px;
  line-height: 0.9rem;
}*/

hr.divider {
  border: solid #2372b5 !important;
  border-width: 10px 0 0;
  margin-bottom: 5px;
}

span.label-text {
  font-size: 1.0rem;
}

p.label-text {
  margin-bottom: 0;
}

.search-panel {
  margin-top: 0px;
}

code {
  font-weight: inherit !important;
  color: #4070a0 !important
}

pre.panel {
  overflow: auto;
}

.docs ul {
  list-style: none;
}

/* responsive table */
table.responsive {
  font-family: monospace;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 1px;
}

table.responsive  td,
table.responsive  th  {
  vertical-align: top;
}

/* history for an entry */

.history h2 {
  font-size: 1.5rem;
}

.history h3 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}

.history p {
  font-size: 1rem;
}

.previous-next-navigation {
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    width: 100%;
    padding-left: 0;
}
@media only screen and  (max-width: 64em) {
    .previous-next-navigation {
        width: 90%;
    }
}

.previous-next-navigation li {
    font-family: "nta", Arial, sans-serif;
    font-size: 23px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
}
@media (max-width: 640px) {
    .previous-next-navigation li {
    font-size: 18px;
    line-height: 1.11111;
}
}.previous-next-navigation li.next {
    float: right;
    text-align: right;
}
.previous-next-navigation li.next a {
    padding: 15px 35px 15px 0;
}
.previous-next-navigation li.next a:before {
    background: transparent url(/assets/images/pag-arrows.png) no-repeat -102px -11px;
    margin: -4px -32px 0 0;
    display: block;
    float: right;
    width: 30px;
    height: 38px;
    content: " "}
.previous-next-navigation li.previous a {
    padding: 15px 0 15px 35px;
}
.previous-next-navigation li.previous a:before {
    background: transparent url(/assets/images/pag-arrows.png) no-repeat -20px -11px;
    margin: -4px 0 0 -32px;
    display: block;
    float: left;
    width: 30px;
    height: 38px;
    content: " "}
.previous-next-navigation li a {
    display: block;
    text-decoration: none;
}
.previous-next-navigation li a span {
    display: block;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    padding: 6px 0;
}
@media (max-width: 640px) {
    .previous-next-navigation li a span {
    font-size: 12px;
    line-height: 1.25;
}
}.previous-next-navigation li a:focus .page-numbers, .previous-next-navigation li a:hover .page-numbers {
    text-decoration: underline;
}
.previous-next-navigation li a:hover {
    background: #f8f8f8;
}
.previous-next-navigation li a:active {
    background: #dee0e2;
}
@media (min-width: 641px) {
    .previous-next-navigation li .visuallyhidden {
		font-family: "nta", Arial, sans-serif;
		font-size: 23px;
		line-height: 1.11111;
		font-weight: 400;
		text-transform: none;
		display: inline-block;
		position: static;
	}
}
@media (min-width: 641px) and (max-width: 640px) {
    .previous-next-navigation li .visuallyhidden {
		font-size: 18px;
		line-height: 1.11111;
	}
}

/* sections for field entry */
.section {
  padding: 30px 0 15px;
  border-top: 1px solid #ddd;
}

.section h2 {
  /* not nice */
  border-top: none;
  line-height: 1.25em;
}

.section ul {
  margin-bottom: 0;
  padding: 10px 0;
}

/* Styles for responsive entries table */
/* see https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css */
@media only screen and  (max-width: 64em) {

  table.responsive  {
    width: 90%;
    border: 1px solid #9B9595;
  }

  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    display: block !important;
    border-bottom: 1px solid #9B9595;
  }

  table.responsive  td {
    display: block !important;
    border-bottom: 1px dotted #ccc;
  }

  table.responsive td:last-child {
    border-bottom: 0;
    padding-bottom: 10px;
  }

  td.view {
    text-align: inherit;
  }

  span.field-name {
    display: block;
    float: left;
    font-weight: bold;
    width: 25%;
  }

  a.next-page {
    padding-right: 20px;
  }

}

/* end styles responsive entries table */

/* responsive styles */
@media only screen and (max-width: 40em) {
  .intro p {
    margin-bottom: 4px;
  }
}
