/* Typography */
body, h1, h2,h3, h4, h5 .button, table, label {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: Helvetica, Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

a {
  color:#005EA5;
}

p, dl, ul, label {
  font-size:1.2rem;
}

.button {
  background:#2372B5;
  border-bottom:5px solid #255c8a;
  font-family: Helvetica, Arial;
  font-weight:bold;
  font-size: 1.35rem;
  padding-bottom: 0.5rem;
  padding-top: 0.75rem;
}

.button:hover, .button:focus {
  background-color:#2372B5;
}

/* header */
.header {
  margin-bottom: 10px;
}

p.total {
  margin-bottom: 0px;
}

.summary-copy p {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.exists-copy p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 45px;
}

input.postfix {
  position: absolute;
  z-index: 4;
  right: -20px;
  top: 0;
  width: 35px;
  height: 37px;
  border: 1px solid #2372b5;
  border-width: 0 0 0 1px;
  border-left-color: #222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #2372b5;
  background-image: url(/assets/images/search-button-686bc7b2e0a29a7e9fad62a271bc8662.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}


#header-wrapper {
  width: 100%;
  background: #2372b5 !important;
  padding-top: 5px;
  margin-bottom: 20px;
}

.header,
.top-bar {
  background: inherit;
  font-family: Helvetica, Arial, sans-serif;
}

.top-bar #header_crest {
  height: 45px;
  margin-right: 7px;
}

.top-bar.home h1 {
  text-align:left;
}

.top-bar h1 {
  font-size: 1.35rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}


.top-bar a {
  text-decoration: none;
  color: #fff;

}

#phase-banner p {
  margin-bottom: 5px;
}

#phase-banner hr {
  margin-bottom: 35px;
}

.alpha-phase {
  background-color: #d53880;
  font-size: 1rem;
  padding: 0.5rem;
}

.alpha-description {
  vertical-align: baseline;
  font-size: 1rem;
  margin-left: 0.5rem;
}

/* intro */

.intro p {
  margin-top: 15px;
  font-size: 1.1rem;
}

.intro h1 {
  font-size: 1.3rem;
}

.subheader {
  text-transform: uppercase;
}

.total-entries {
  margin-bottom: 20px;
}

.total-entries p {
  margin-bottom: 5px;
}

.big-number {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.big-meta {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.homepage-field-labels {
  font-family: monospace;
}

h2 {
  border-top: solid 1px #ddd;
  padding-top: 4px;
}

/*.side-nav ul {
  padding-top: 15px;
}*/

.side-nav li {
  font-weight: 700;
  font-size: 1rem;
}

/* entries in registers*/
.entry {
  background: #eceded;
  border: none;
  border-radius: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: monospace;
}

.entry dt {
  font-weight: normal;
  line-height: 1;
  border-top: dotted 1px #DDDDDD;
  padding-top: 1rem;
  font-size: 1rem;
}

.entry dt a:hover,
.entry dt a:focus {
  color: #007BA0;
}
.data-representations {
  font-weight: bold;
  font-size: 1.0rem;
}

.data-representations a {
  font-weight: normal;
  font-size: 1.0rem;
  padding-left: 5px;
}

.data-representations span {
  padding-left: 5px;
  font-weight: normal;
}


h1.entry-header {
  font-size: 2.25rem;
}

#entry-table {
  width: 100%;
  font-family: monospace;
  background: #f9f9f9;
}
#entry-table tr {
  border: solid 1px #ddd;
}

.entry-source {
  margin-bottom: 5px;
}

dl {
  border-top: none;
}

dl dd {
  color: #333333;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
}

/* fields */
.entry-hash {
  word-wrap: break-word;
  margin-bottom: 30px;
}

.search {
  padding-bottom: 10px;
  visibility: hidden;
}

#search-input {
  margin-left: 5px;
  font-family:monospace;
  height: 1.2rem;
  border-radius: 0.3rem;
}

/* representations */
.representations {
  margin-bottom: 0.5rem;
}
.representation {
  text-transform: uppercase;
  font-size: 1rem;
}

/* meta */
.meta {
  width: 100%;
}
.meta a[rel=prev] {
  display: block;
  float: left;
  text-align: left;
}

.meta a[rel=next] {
  display: block;
  float: right;
  text-align: right;
}

.meta .pageno {
  padding-left: 10em;
}

.footer {
  margin-top: 30px;
  padding-top: 15px;
  /*border-top: 1px solid #BFC1C3;*/
}

#ogl-logo {
  margin-top: 3px;
}

.open-government-licence {
  margin-top: 35px;
}

.open-government-licence p {
  font-size: 0.7rem;
  margin-left: -10px;
  line-height: 0.9rem;
}

hr.divider {
  border: solid #2372b5 !important;
  border-width: 10px 0 0;
  margin-bottom: 5px;
}

span.label-text {
  font-size: 1.0rem;
}

p.label-text {
  margin-bottom: 5px;
}

.search-panel {
  margin-top: 0px;
}

code {
  font-weight: inherit !important;
  color: #4070a0 !important
}

pre.panel {
  overflow: auto;
}

.docs ul {
  list-style: none;
}

/* responsive table */
table.responsive {
  font-family: monospace;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 1px;
}
table.responsive  td,
table.responsive  th  {
  vertical-align: top;
}

span.field-name {
  display: none
}

td p {
  padding: 0.5625rem 0.625rem;
  font-size: 0.875rem;
  color: #222;
  padding-left: 0px;
  margin-bottom: 0px;
}

td.view {
  font-family: Helvetica, Arial;
  font-size: 0.7rem !important;
  white-space: nowrap;
}

td.view > a:after {
  content: "❯";
  padding-left: 10px;
  vertical-align: middle;
}

/* history for an entry */

.history h2 {
  font-size: 1.5rem;
}

.history h3 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}

.history p {
  font-size: 1rem;
}

a.next_page {
  float:right;
}

a.previous_page {
  float:left;
}

/* Styles for responsive entries table */
/* see https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css */
@media screen and (max-width: 1100px) {

  table.responsive  {
    width: 90%;
    border: 1px solid #9B9595;
  }

  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    display: block !important;
    border-bottom: 1px solid #9B9595;
  }

  table.responsive  td {
    display: block !important;
    border-bottom: 1px dotted #ccc;
  }

  table.responsive td:last-child {
    border-bottom: 0;
    padding-bottom: 10px;
  }

  span.field-name {
    display: block;
    float: left;
    font-weight: bold;
    width: 25%;
  }

}

/* end styles responsive entries table */

/* responsive styles */
@media only screen and (max-width: 40em) {
  .intro p {
    margin-bottom: 4px;
  }
}
