@(register: uk.gov.openregister.config.Register, requestParam: Map[String, List[String]], errors: Map[String,String], formAction: play.api.mvc.Call, submitButtonValue: String)

@main(register.friendlyName + " register") {

@header(register.friendlyName)



<div class="row">
    @Option(errors.get("globalError")).map { error =>
    <div class="error">@error</div><br/>
    }
</div>

<div class="row">
	<div class="small-12 large-6 columns">

	@helper.form(action = formAction) {

		<fieldset>
        	<legend class="form-label-bold">Register</legend>

	    @register.fields.map{ aField =>
	        @{
	            if(!aField.getName().equals("fields"))
	                controllers.html.Utils.inputText(aField.getName, requestParam.get(aField.getName), errors.get(aField.getName));

	        }
	    }
		</fieldset>

	    @register.fields.map{ aField =>
	        @{
	            if(register.name.equals("register") && aField.getName().equals("fields"))
	                controllers.html.Utils.checkbox(aField, requestParam.get(aField.getName), aField.getAllowedValues.get);

	        }
	    }


	    <input type="submit" name="submit" value="@submitButtonValue" class="button"/>

	}
	</div>
</div>

@license()

}
