@(register: uk.gov.openregister.config.Register, requestParam: Map[String, List[String]], errors: Map[String,String], formAction: play.api.mvc.Call, submitButtonValue: String)

@main(register.friendlyName + " register") {

@header(register.friendlyName)



<div class="row">
    @Option(errors.get("globalError")).map { error =>
    <div class="error">@error</div><br/>
    }
</div>

<div class="row">
	<div class="small-12 large-6 columns">

	@helper.form(action = formAction) {

		<fieldset>
        	<legend class="form-label-bold">Register</legend>

	    @register.fields.filter(_.getName() != "fields").map{ aField =>
				@controllers.html.Utils.inputText(aField.getName, requestParam.get(aField.getName), errors.get(aField.getName))
	    }
		</fieldset>

		@defining({
			register.fields.filter(_.getName() == "fields" && register.name == "register").headOption
		})( _ match {
				case Some(fieldsField) => controllers.html.Utils.checkbox(
													fieldsField,
													requestParam.get(fieldsField.getName),
													fieldsField.getAllowedValues.get.filter(!register.fields.map(_.getName).contains(_))
											)
				case None => ""
			}
		)



	    <input type="submit" name="submit" value="@submitButtonValue" class="button"/>

	}
	</div>
</div>

}
