@(fields: List[uk.gov.openregister.config.Field], records: List[uk.gov.openregister.domain.Record])

@main() {

@header()

<div class="row">

    <div class="small-12 columns">

        <div class="row intro">

            <div class="medium-9 small-12 columns">
                <h1>@controllers.App.instance.register.friendlyName() Register</h1>
                <p>A register of @controllers.App.instance.register.friendlyName() entries.</p>
            </div>

            <div class="medium-3 small-12 columns metadata">
                <span class="big-number">@{ if(records.size < 100){ records.size } else { s"${records.size}+" }}</span>
                <h4 class="subheader"><small>Total entries</small></h4>
            </div>

        </div>

        @if(records.size > 0){
        <h2>View entries</h2>

        <div class="panel entry" id="entries">


            <div id="table-outer">

                <table id="entries-table" class="entries">

                    <thead>
                    <tr>
                        <th>hash</th>
                        @fields.map { field =>
                        <th>@controllers.html.Utils.toLink(field)</th>
                        }
                    </tr>
                    </thead>

                    <tbody class="list">

                    @records.map { record =>
                    <tr>
                        <td class="hash"><a href="/hash/@record.getHash">@record.getHash.take(7)</a></td>
                        @fields.map { field =>
                        <td class="@field.getName()">@controllers.html.Utils.toValue(field, record.getEntry.get(field.getName()))</td>
                        }
                    </tr>
                    }

                    </tbody>

                </table>

            </div>

            <!--{% include "meta.html" %}-->

        </div><!-- /.panel -->
        } else {
        <h3>No entries found</h3>
        }


        <!--<h2>Get the data</h2>-->

        <!--{% include "representations.html" %}-->

    </div> <!-- /.columns -->

</div> <!-- ./row -->

@license()

}