@(fields: List[uk.gov.openregister.model.Field], records: List[uk.gov.openregister.domain.Record], representationsMap: Map[String, String])

@main() {

@header()

    <div class="row intro">
        <div class="medium-9 small-12 columns">
            <h1>@controllers.App.instance.register.friendlyName() Register</h1>
            <p>A register of @controllers.App.instance.register.friendlyName() entries.</p>
        </div>
        <div class="medium-3 small-12 columns metadata">
            <span class="big-number">@{ if(records.size < 100){ records.size } else { s"${records.size}+" }}</span>
            <h4 class="subheader"><small>Total entries</small></h4>
        </div>
    </div>

    <div class="row entry-row">
        <div class="large-12 columns entries-col">
            @if(records.size > 0){
                <table id="entries">
                    <thead>
                    <tr>
                        <th>hash</th>
                        @fields.map { field =>
                        <th>
                            <span class="field-name">@controllers.html.Utils.toLink(field)</span><span class="field-value">@controllers.html.Utils.toLink(field)</span>
                        </th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @records.map { record =>
                    <tr>
                        <td class="hash"><span class="field-name">hash</span><span class="field-value"><a href="/hash/@record.getHash">@record.getHash.take(7)</a></span></td>

                        @fields.map { field =>
                            <td class="@field.getName()"><span class="field-name">@controllers.html.Utils.toLink(field)</span><span class="field-value">@controllers.html.Utils.toValue(field, record.getEntry.get(field.getName()))</span></td>
                        }
                    </tr>
                    }
                    </tbody>
                </table>

            } else {
            <h3>No entries found</h3>
            }
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            @data_formats(representationsMap)
        </div>
    </div>


    @license()

}
