@(fields: List[uk.gov.openregister.model.Field], dbRecord: uk.gov.openregister.domain.DbRecord, history: List[uk.gov.openregister.domain.RecordVersionInfo], representationsMap: Map[String, String])

@defining((dbRecord.getRecord, dbRecord.getMetadata)) {case (record,metadata) =>

@main() {

@header()

<div class="row">
    <div class="small-12 large-12 columns">

        @Option(record.getEntry.get("name")).map { name =>
            <h1 id="entry_name">@name.textValue</h1>
        }

        <p>An entry in the <a href="/">@controllers.App.instance.register.friendlyName() register</a>.</p>

        <h2>View fields</h2>

        <div class="panel entry">
            <dl>
                <dt class="hash">hash</dt>
                <dd class="hash">@record.getHash</dd>
                @fields.map { field =>
                <dt class="@field.getName()">@controllers.html.Utils.toLink(field)</dt>
                <dd class="@field.getName()">@controllers.html.Utils.toValue(field, record.getEntry.get(field.getName()))</dd>
                }
            </dl>
        </div> <!-- /.entry -->

    </div> <!-- /.columns -->
</div> <!-- /.row -->

<div class="row">
    <div class="small-12 large-12 columns">
        <!-- Little hack to show registers using a field, on field register only-->
        @{controllers.App.instance.register match {
            case fr: uk.gov.openregister.config.FieldRegister =>
                fieldUsage(fr, record.getEntry.get("field").textValue)
            case _ => {}
        }}

        @defining(org.joda.time.format.DateTimeFormat.forPattern("dd MMMM yyyy HH:mm:ss z")) { timeFormat =>
        <h2>History</h2>
        <h3>Latest version:</h3>
        @defining({
            val registerName = controllers.App.instance.register.name;
            controllers.html.Utils.toUri(registerName, record.getEntry.get(registerName).textValue)
        }) { latestVersionUrl =>
        <p><a href="@latestVersionUrl">@latestVersionUrl</a></p>
        }
        <h3>This version:</h3>
        <p><a href="/hash/@{record.getHash}">@{record.getHash}</a> @{timeFormat.print(metadata.creationTime)}</p>
        <table>
            <thead>
                <tr>
                    <td>hash</td>
                    <td>timestamp</td>
                </tr>
            </thead>
            <tbody>
            @history.map{ entry =>
            <tr>
                <td><span class="field-name">hash</span><span class="field-value"><a href="/hash/@entry.hash">@entry.hash</a></span></td>
                <td><span class="field-name">timestamp</span><span class="field-value">@entry.timestamp</span></td>
            </tr>
            }
            </tbody>
        </table>
        }
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        @data_formats(representationsMap)
    </div>
</div>
@license()

}
}
