<div id="header-wrapper">

    <div class="row">
        <div class="header registry small-12 large-12 columns">
            <nav class="top-bar" data-topbar>
                <h1><img id="header_crest" src="/assets/images/crest_white.png"/> <a href="/">@controllers.App.instance.register.friendlyName()</a> <a href="http://www.openregister.org">Register</a></h1>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 large-12 columns">

        <div id="phase-banner">
              <p>
                <span class="alpha-phase label">ALPHA</span>
                <span class="alpha-description">This is a new service.</span>
              </p>
            <hr>
        </div>
    </div>
</div>
