<div id="header-wrapper">

    <div class="row">
        <div class="header registry small-12 large-12 columns">
            <nav class="top-bar" data-topbar>
                <h1><img id="header_crest" src="/assets/images/crest_white.png"/> <a href="/">@controllers.conf.Register.instance.friendlyName() Register</a></h1>
            </nav>
        </div>
    </div>
</div>

<div id="phase-banner" class="row display-end">
    <div class="columns">
      <p>
        <span class="alpha-phase label radius">ALPHA</span>
        <span>This is an experimental service.</span>
      </p>
    </div>
    <hr>
</div>
