@(registerName: String, count: Long)

@main(registerName + " register") {

@header(registerName)


<div class="row">
    <div class="small-12 large-8 columns">
        <div class="summary-copy">
            <p>@play.Play.application().configuration().getString("register.title")</p>
        </div>
        <div class="exists-copy">
            <p>@play.Play.application().configuration().getString("register.description")</p>
        </div> <!-- ./columns -->

        <div class="total-entries">
                <p><span class="label-text">Total entries:</span></p><span class="big-number">@count</span>
        </div>

        <div class="meta-entries">
                <p><span class="label-text">Last updated:</span><br/>15 April 2015</p>
                <p><span class="label-text">Part of:</span><br/>@play.Play.application().configuration().getString("register.registry")</p>
        </div>
        <div class="fields-in-register">
                <p><span class="label-text">Fields in this register:</span><br/>field names</p>
        </div>

    </div> <!-- ./columns -->

    <div class="small-12 large-4 columns">

        <div class="search-panel">
                <h4>Search this register</h4>
                <p>@play.Play.application().configuration().getString("register.searchtext")</p>

                <form action="/search">
                    <div class="search-field">
                        <input name="_query" type="text" placeholder="Enter search term">
                     <!-- ./columns -->
                        <input type="submit" value="Search" class="button postfix" />
                    </div>    
                </form>
        </div><!-- ./row -->

        <hr class="divider"/>
        <ul class="side-nav">
            <li><a href="#">API Documentation</a></li>
            <li><a href="/create">Create an entry</a></li>
        </ul>
    </div> <!-- ./columns -->
</div><!-- ./row -->



<div class="row footer">
    <div class="small-12 large-12 columns">

@license()

    </div>
</div>

}
