@(register: uk.gov.openregister.config.Register, title: String)


@main(title) {

@header(register.friendlyName)
<div class="row">
    <div class="small-12 large-12 columns">

        <h3>Import register data</h3>


        <div data-ng-app="progressApp">
            <div ng-controller="progressCtrl">

                <form id="myform" data-abide>

                    <div class="row collapse">
                        <div class="small-9 columns">
                            <input id="url" type="url" placeholder="Data source url (supports csv or tsv)" >
                        </div>

                        <div class="small-3 columns">
                            <button ng-disabled="isReadonly" ng-click="isReadonly || loadData()" class="button postfix">Import</button>
                        </div>

                    </div>
                </form>

                <div class="row collapse">
                    <p class="progressState">{{dynamicObject.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="//pineconellc.github.io/angular-foundation/mm-foundation-tpls-0.6.0.js"></script>
<script type="text/javascript" src="@api.routes.ImportData.javascriptRoutes"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/progress.js")")"></script>


}