@(title: String)(content: Html)
<html>
<head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" href="assets/images/icon.png" />
    <link rel="stylesheet" href="assets/vendor/foundation/css/foundation.css">
    <link rel="stylesheet" media="screen" href="assets/stylesheets/main.css">
    <title>@title</title>
</head>
<body>
@content
</body>
</html>
